################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AsyncWebAPISample/AsyncWebAPISample.Data/bin/Debug/AsyncWebAPISample.Data.dll
/AsyncWebAPISample/AsyncWebAPISample.Data/bin/Debug/AsyncWebAPISample.Data.pdb
/AsyncWebAPISample/AsyncWebAPISample.Data/bin/Debug/AsyncWebAPISample.Entities.dll
/AsyncWebAPISample/AsyncWebAPISample.Data/bin/Debug/AsyncWebAPISample.Entities.pdb
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/AsyncWebAPISample.Data.csproj.FileListAbsolute.txt
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/AsyncWebAPISample.Data.csprojResolveAssemblyReference.cache
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/AsyncWebAPISample.Data.dll
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/AsyncWebAPISample.Data.pdb
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AsyncWebAPISample/AsyncWebAPISample.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AsyncWebAPISample/AsyncWebAPISample.Entities/bin/Debug
/AsyncWebAPISample/AsyncWebAPISample.Entities/obj/Debug
/AsyncWebAPISample/bin
/AsyncWebAPISample/obj/Debug
/AsyncWebAPISample/obj/Debug/AsyncWebAPISample.csproj.FileListAbsolute.txt
/AsyncWebAPISample/obj/Debug/AsyncWebAPISample.csprojResolveAssemblyReference.cache
/AsyncWebAPISample/obj/Debug/AsyncWebAPISample.dll
/AsyncWebAPISample/obj/Debug/AsyncWebAPISample.pdb
/AsyncWebAPISample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AsyncWebAPISample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AsyncWebAPISample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AsyncWebAPISample.Tests
/AsyncWebAPISample.Tests/bin/Debug
/AsyncWebAPISample.Tests/obj/Debug
/AsyncWebAPISample.Tests/obj/Debug/AsyncWebAPISample.Tests.csproj.FileListAbsolute.txt
/AsyncWebAPISample.Tests/obj/Debug/AsyncWebAPISample.Tests.csprojResolveAssemblyReference.cache
/AsyncWebAPISample.Tests/obj/Debug/AsyncWebAPISample.Tests.dll
/AsyncWebAPISample.Tests/obj/Debug/AsyncWebAPISample.Tests.pdb
/AsyncWebAPISample.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AsyncWebAPISample.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AsyncWebAPISample.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
