<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <!-- Interfaces -->
    <alias alias="ITestClass1" type="AsyncWebAPI.Factory.Tests.ITestClass1, AsyncWebAPI.Factory.Tests" />

    <!-- Concretes -->
    <alias alias="TestClass1" type="AsyncWebAPI.Factory.Tests.TestClass1, AsyncWebAPI.Factory.Tests" />

    <container>
      <register type="ITestClass1" mapTo="TestClass1"></register>
      
    </container>
  </unity>

</configuration>