<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <add name="SampleConnectionString" connectionString="Data Source=RAHUL\SQLEXPRESS;Initial Catalog=ProductsDB;User ID=apiuser;Password=password"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Interfaces -->
    <alias alias="IProductRepository" type="AsyncWebAPISample.Data.IProductRepository, AsyncWebAPISample.Data" />

    <!-- Concretes -->
    <alias alias="ProductRepository" type="AsyncWebAPISample.Data.EntityFramework.ProductRepository, AsyncWebAPISample.Data.EntityFramework" />
    <alias alias="DefaultContext" type="AsyncWebAPISample.Data.EntityFramework.DefaultContext, AsyncWebAPISample.Data.EntityFramework" />
    <container>
      <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="DefaultContext">
        <constructor>
          <param name="connectionString">
            <value value="SampleConnectionString" />
          </param>
        </constructor>

      </register>

      <register type="IProductRepository" mapTo="ProductRepository">
      </register>

    </container>
  </unity>

</configuration>