<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Products</title>
    <script src="../../Scripts/lib/angular.js"></script>
    <script src="../../Scripts/app/products-controller.js"></script>
    <script src="../../Scripts/lib/jquery-1.9.1.js"></script>
    <script src="../../Scripts/lib/bootstrap.js"></script>
</head>
<body ng-app="ProductsApp">
    <div class="container" ng-controller="ProductsCtrl">
        <label class="warning">This demonstration is for AngularJS</label>
        <p class="panel-heading">{{title}}</p>
    </div>
</body>
</html>
