<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Interfaces -->
  <alias alias="IProductRepository" type="AsyncWebAPISample.Data.IProductRepository, AsyncWebAPISample.Data" />

  <!-- Concretes -->
  <alias alias="ProductRepository" type="AsyncWebAPISample.Data.EntityFramework.ProductRepository, AsyncWebAPISample.Data.EntityFramework" />

  <alias alias="DefaultContext" type="AsyncWebAPISample.Data.EntityFramework.DefaultContext, AsyncWebAPISample.Data.EntityFramework" />
  
  <container>
    <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="DefaultContext">
      <constructor>
        <param name="connectionString">
          <value value="SampleConnectionString" />
        </param>
      </constructor>
    </register>
    
    <register type="IProductRepository" mapTo="ProductRepository"></register>

  </container>
</unity>
